<app-contact-form></app-contact-form>

<!-- <h1>NG Switch</h1>
<app-switch></app-switch>

<br><hr><br>

<app-zippy title="Shipping Details">
  Shipping Details Content
</app-zippy>
<app-zippy title="Billing Details">
    Billing Details Content
</app-zippy>

<br><hr><br>

<h1>Cutsom Directive</h1>
<input type="text" [appInputFormat]="'uppercase'">

<br><hr><br>

<app-authors></app-authors>

<br><hr><br>

<app-courses></app-courses>

<br><hr><br>

<app-favorite [isFavorite]="post.isFavorite"
              (change)="onFavoriteChanged($event)"></app-favorite>

<br><hr><br>

<app-like 
          [likesCount]="tweet.likesCount"
          [isActive]="tweet.isLiked">
  <ng-container class="body">{{ tweet.body }}</ng-container>
</app-like>

<br><hr><br>

<app-bootstrap-panel>
  <ng-container class="heading">
    <h1>Heading</h1>
  </ng-container>
  <ng-container class="body">
    <h2>Body</h2>
  </ng-container>
</app-bootstrap-panel> -->
